@page
@model TrasladoSeguro.Pages.Clientess.IndexModel
@{
    ViewData["Title"] = "Clientes";
}
<h1>Index Clientes</h1>
<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<p>
    <form method="get">
        <div class="form-group">
            <input type="text" class="form-control" name="searchString" placeholder="Buscar clientes">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientess[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientess[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientess[0].Ciudad)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clientess)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ciudad)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-danger">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

